<link rel="stylesheet" href="stylesheets/uploader.css">
<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
<div class="container">

  <form class="form">
    <h2 class="form-signin-heading"><%= title%></h2>
    <input type="text" id="title" placeholder="标题" required autofocus autocomplete="off" class="form-control">
    <input type="text" id="author" value="" placeholder="作者" required autocomplete="off" class="form-control">
    <input type="text" id="webpath" value="" placeholder="webview地址id" required autocomplete="off" class="form-control">

    <div class="panel panel-default">
      <div class="panel-heading">展示图片(最多三张)</div>
      <div id="uploader">
          <div class="queueList">
              <div id="dndArea" class="placeholder">
                  <div id="filePicker"></div>
                  <p>或将照片拖到这里，单次最多可选300张</p>
              </div>
          </div>
          <div class="statusBar" style="display:none;">
              <div class="progress">
                  <span class="text">0%</span>
                  <span class="percentage"></span>
              </div><div class="info"></div>
              <div class="btns">
                  <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
              </div>
          </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">内容</div>
      <script id="editor" type="text/plain" style="height:500px;"></script>
    </div>

    <button type="button" class="btn btn-lg btn-primary" id="btn_dl_git">提交</button>
  </form>

</div>


<script src="javascripts/uploader.js" charset="utf-8"></script>

<script type="text/javascript">
$(function() {
  var ue = UE.getEditor('editor');
  $('#btn_dl_git').on('click',function () {
    var info = $(".login-info");

    var title = $('#title').val();
    var author = $("#author").val();
    var webpath= $("#webpath").val();
    var content = ue.getContent();
    var image_list = image_list;
    var data = {
      title: title,
      author: author,
      webpath: webpath,
      content:content,
    }

    console.log('username == ',data)
    fetch('<%= URL %>',{
      method:'POST',
      body: JSON.stringify(data),
      headers: new Headers({ "Content-Type": "application/json" })// add headers
    }).then(function (response) {
        info.removeClass('hidden').text("添加成功");
    }).catch(function (err) {
        info.removeClass('hidden').text("服务器异常");
    })

  })

})
</script>
