<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">

<link rel="stylesheet" href="stylesheets/kendo.common-material.min.css" />
<link rel="stylesheet" href="stylesheets/kendo.material.min.css" />
<link rel="stylesheet" href="stylesheets/kendo.default.mobile.min.css" />

<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/webuploader.css">
<script src="javascripts/jquery.min.js" charset="utf-8"></script>
<script src="javascripts/bootstrap.min.js" charset="utf-8"></script>
<script src="javascripts/angular.min.js" charset="utf-8"></script>
<script src="javascripts/kendo.all.min.js" charset="utf-8"></script>
<script src="javascripts/kendo.messages.zh-CN.js"></script>
<script src="javascripts/kendo.culture.zh-CN.js"></script>
<title>游戏王Linker后台管理</title>
