<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%  include header.html %>

    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>

  </head>
  <body ng-app="App" ng-controller="yugiohController">
    <% include admin/Navigation.html %>
    <div class="container-top">
      <div class="row">
        <div class="col-md-2">
          <% include sider.html %>
        </div>

        <div class="col-md-6">
        
          <% include DL/DLChange.html %>
        </div>

        <div class="col-md-4">

        </div>
      </div>
    </div>

  </body>
</html>


<script>
  var App = angular.module('App', []);
  App.controller('yugiohController', function($scope, $http) {
      $scope.menu = "<%= menu%>";
      $http.get("/getlist")
      .success(function(response) {
        console.log(response);
        $scope.newslist = response.newslist;
        var options = {
            bootstrapMajorVersion:3,
            currentPage: parseInt(response.currentpage),//当前页面
            numberOfPages: response.totalpage,//一页显示几个按钮（在ul里面生成5个li）
            totalPages:response.totalpage, //总页数,
            onPageClicked: function (event,originalEvent,type,page) {
              $http.get("/getlist?id=" + page)
              .success(function (limitresponse) {
                  console.log(limitresponse);
                  $scope.newslist = limitresponse.newslist;
              })

            }
        }
        angular.element("#pageui").bootstrapPaginator(options);
      });
  });
</script>
