<div class="panel panel-default">
  <div class="panel-heading">菜单选项</div>
  <div class="panel-body">
    <ul class="nav nav-list">
      <li class="nav-header"><b>资讯</b></li>
      <li class="active"><a href="/admin?id=dl"><span class="glyphicon glyphicon-file"></span>  新增DL资讯</a></li>
      <li><a href="/admin?id=ocg"><span class="glyphicon glyphicon-road"></span>  新增OCG资讯</a></li>
      <li><a href="/admin?id=video"><span class="glyphicon glyphicon-inbox"></span>  新增视频资讯</a></li>
      <!-- 为一组元素添加Header，分组 -->
      <li class="nav-header"><b>其它</b></li>
      <li><a href="/admin?id=gonglue"><span class="glyphicon glyphicon-eye-open"></span>  新增攻略</a></li>
      <li><a href="/admin?id=card"><span class="glyphicon glyphicon-book"></span>  新增卡组分享</a></li>
    </ul>
  </div>
</div>
